<h1><%= (t('css_checker_header')) %></h1>
<%= locale_selector %>

<p>
  <%=  (t('description')) %>
</p>

<p><%=(t('specify_url')) unless @results%></p>
<p>
  <% form_for :site, :url=>css_path, :html=>{:method=>:get} do |form| %>
    <%=(t('site_url_label'))%> <%= form.text_field :url %>
    <%= form.submit t('submit_button')%>
  <%end%>
</p>  

<% unless @css_list.blank? %>
<p>
  <%= t('css_found')%>
  <ul>
    <% @css_list.each do |css, document| %>
      <li><%= css%></li>
    <%end%>
  </ul>
</p>
<%end%>

<% unless @results.blank? %>
<p>
  <%= t('verifications')%>
  <ul>
  <% @results.each do |klass, results|%>
    <% unless results.blank?%>
      <li><%= t(klass)%>
        <ul>
        <% results.each do |error| %>
          <li><%=error%></li>
        <%end%>
        </ul>
      </li>
    <%end%>
  <%end%>
  </ul>
<%else%>
<p><%= t('no_errors') %></p>
<%end%>
